/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: "Playwrite NZ Basic", cursive;
}

#hero-section {
    background-image: url("images/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 10px 0 40px 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

/* img {
    width: 150px;
   
} */

.title {
    margin-top: 150px;
    background-color: #251F47;
    opacity: 50%;
}

.sub {
    background-color: #251F47;
    width: 500px;
    
}

.title-sub {
    padding: 15px 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

#act-section {
    background-color: #86CB92;
    margin-top: -19px;  
    padding: 50px;
    color: #1D3557;
}

.act-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #E63946;
    margin-bottom: 10px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.act-title {
    font-size: large;
}

#guide-section {
    background-color: white; 
    padding: 10px;
}

.card {
    background-color: #457B9D;
    border-radius: 20px;
    color: white;
    width: 400px;
    /* height: 255px; */
    padding: 10px;
    margin: 0 auto;
    border-bottom: 6px solid #f72585;
    border-top: 6px solid #f72585;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-front,
.card-back {
  display: flex;
  backface-visibility: hidden;
  justify-content:space-around;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.profile-img {
    width: 150px;
    height: 248.67px;
    padding: 5px;
    border-radius: 20px;
}

.card-back2 {
    margin-top: -250px;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
    perspective: 1000px;
    cursor: pointer;
    box-shadow: rgba(247, 37, 133, 0.4) -5px 5px, rgba(247, 37, 133, 0.3) -10px 10px, rgba(247, 37, 133, 0.2) -15px 15px, rgba(247, 37, 133, 0.1) -20px 20px, rgba(247, 37, 133, 0.05) -25px 25px;
}

.connect {
    border: 1px solid #E63946;
}